@use "../../../../styles/colors.scss" as *;

.active {
  visibility: visible !important;
  opacity: 1 !important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  // visibility: hidden;
  opacity: 0;

  visibility: hidden;

  &Container {
    position: relative;
    width: 420px !important;
    height: 100% !important;
    background: $color-dark-blue;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding-top: 24px;
    padding-bottom: 24px;
    // padding: 12px 16px;
    overflow-y: scroll;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 66px;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 1104px) {
      width: 100% !important;
    }
  }
  &Top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Controls {
    // position: absolute;
    // top: 0px;
    // right: 0px;
    align-items: center;

    cursor: pointer;
    z-index: 2;
    @media (max-width: 992px) {
      top: 0px;
    }
  }
  &Main {
    height: 100%;
    max-height: 80vh;
    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: normal;
      letter-spacing: -0.48px;
      color: #26333d;
      @media (max-width: 992px) {
        font-size: 20px;
        line-height: 29px;
      }
      @media (max-width: 330px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &Bottom {
    width: 100%;

    &LinksContainer {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-bottom: 16px;
    }

    &Copyright {
      color: rgba(51, 51, 51, 0.54);

      font-size: 12px;
      font-weight: 500;
      line-height: 14.52px;
      letter-spacing: 0.03999999910593033px;
      text-align: center;
    }
  }

  &ContainerFull {
    border: none;
    position: relative;
    left: 50%;
    outline: none;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90% !important;
    height: 60% !important;
    background: #000 !important;
    z-index: 5;
  }
  &MainFull {
    border: none;
    outline: none;
    height: 100% !important;
    background: #000 !important;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);

    &.transparent {
      background: transparent;
    }
  }
}
