@use "../../../../styles/colors.scss" as *;

.about-section {
  padding: 0 36px;
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  gap: 150px;

  .experience {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
  }

  .banner-number {
    // font-family: Articulat;
    font-size: 400px;
    font-weight: 400;

    color: $color-dark-blue;
  }
  .banner-description-wrapper {
    flex: 1;
    display: flex;
    // overflow: hidden;

    // justify-content: end;
    .banner-description-content {
      //   width: 569.19px;
      //   width: 100%;

      display: flex;
      flex-wrap: wrap;
      column-gap: 45px;
      row-gap: 25px;

      img {
        box-shadow: 0px 34.89px 69.77px 0px #1713411a,
          3.49px 3.49px 22.68px 0px #ffffff40 inset,
          0px 3.49px 1.74px 0px #ffffff40 inset,
          0px -3.49px 1.74px 0px #201a750d inset;

        border-radius: 7px;

        height: 115.12px;
        //   object-fit: contain;
      }
      .flag-img {
        width: 122.76px;
        height: 66.28px;
      }

      span {
        // font-family: Articulat;
        font-size: 84px;
        font-weight: 400;
        line-height: 115.92px;

        // opacity: 0;
        // transition: all 0.3s;

        // &.left:hover {
        //   transform: translate3d(-20.2896px, 0px, 0px);
        //   opacity: 1;
        // }
        // &.right:hover {
        //   transform: translate3d(20.2896px, 0px, 0px);
        //   opacity: 1;
        // }
      }
    }
  }
}

@media (max-width: 1268px) {
  .about-section {
    .experience {
    }

    .banner-number {
      font-size: 200px;
    }

    .banner-description-wrapper {
      .banner-description-content {
        img {
        }

        .flag-img {
        }

        span {
          font-size: 64px;
          line-height: 88px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .about-section {
    .experience {
    }

    .banner-number {
      font-size: 200px;
    }

    .banner-description-wrapper {
      .banner-description-content {
        img {
          height: 54.31px;
        }

        .flag-img {
          height: 32.94px;
          width: 61px;
        }

        span {
          font-size: 28.96px;
          line-height: 39.97px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .about-section {
    .experience {
    }

    .banner-number {
      font-size: 150px;
    }

    .banner-description-wrapper {
      .banner-description-content {
        img {
          height: 54.31px;
        }

        .flag-img {
          height: 32.94px;
          width: 61px;
        }

        span {
          font-size: 28.96px;
          line-height: 39.97px;
        }
      }
    }
  }
}
