@use "../../../../styles/colors.scss" as *;

.about-section {
  padding: 0 36px;
  margin-top: 100px;
  margin-bottom: 100px;

  .main {
    display: flex;
    flex-direction: column;
    gap: 150px;

    margin-bottom: 120px;
  }

  .bottom-text-wrapper {
    display: flex;
    justify-content: end;
    .bottom-text {
      display: flex;
      gap: 12px;
      align-items: center;
      span {
        font-family: Articulat CF;
        font-size: 24px;
        font-weight: 400;
        line-height: 33.12px;
        color: $color-dark;
      }
    }
  }

  .experience {
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
  }

  .experience-1 {
    .banner-description-wrapper {
      justify-content: end;
    }
  }
  .experience-2 {
    .banner-description-wrapper {
      justify-content: start;
    }
  }

  .banner-number {
    // font-family: Articulat;
    font-size: 400px;
    font-weight: 400;

    color: $color-dark-blue;
  }

  .banner-description-wrapper {
    flex: 1;
    display: flex;

    // overflow: hidden;

    .banner-description-content {
      //   width: 569.19px;
      //   width: 100%;

      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      column-gap: 45px;
      row-gap: 25px;

      .column {
        flex: 1;

        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 32px;

        // gap: 25px;
      }

      img {
        box-shadow: 0px 34.89px 69.77px 0px #1713411a,
          3.49px 3.49px 22.68px 0px #ffffff40 inset,
          0px 3.49px 1.74px 0px #ffffff40 inset,
          0px -3.49px 1.74px 0px #201a750d inset;

        border-radius: 7px;

        height: 115.12px;
        //   object-fit: contain;
      }
      .flag-img {
        width: 122.76px;
        height: 66.28px;
      }

      span {
        // font-family: Articulat;
        font-size: 84px;
        font-weight: 400;
        line-height: 115.92px;

        // opacity: 0;
        // transition: all 0.3s;

        // &.left:hover {
        //   transform: translate3d(-20.2896px, 0px, 0px);
        //   opacity: 1;
        // }
        // &.right:hover {
        //   transform: translate3d(20.2896px, 0px, 0px);
        //   opacity: 1;
        // }
      }
    }
  }
}

@media (max-width: 1536px) {
  .about-section {
    .main {
      gap: 100px;
    }
    .experience {
      flex-direction: column;
      align-items: stretch;
    }

    .experience-2 {
      flex-direction: column-reverse;

      row-gap: 40px;

      .banner-description-wrapper {
        // justify-content: end;
      }
    }

    .banner-number {
      font-size: 300px;
    }

    .banner-description-wrapper {
      .banner-description-content {
        img {
          height: 80.12px;
        }

        .flag-img {
          height: 48.28px;
          width: 91px;
        }

        span {
          font-size: 64px;
          line-height: 88.32px;
        }
      }
    }
  }
}

@media (max-width: 1268px) {
  .about-section {
    .main {
      gap: 80px;
    }

    .experience {
      row-gap: 30px;
    }

    .banner-number {
      font-size: 200px;
    }

    .banner-description-wrapper {
      .banner-description-content {
        img {
          height: 70.12px;
        }

        .flag-img {
          height: 42.28px;
          width: 81px;
        }

        span {
          font-size: 36px;
          line-height: 49.68px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 0 32px;
    .main {
      gap: 52px;
    }
    .experience {
      row-gap: 0px;
    }

    .banner-number {
      font-size: 160px;
    }

    .banner-description-wrapper {
      .banner-description-content {
        img {
          height: 54.31px;
        }

        .flag-img {
          height: 32.94px;
          width: 61px;
        }

        span {
          font-size: 28.96px;
          line-height: 39.97px;
        }
      }
    }
  }
}
