@use "../../../styles/colors.scss" as *;

:root {
  --color-black-300: hsl(217, 27%, 12%);
}

.layout-wrapper {
  background-color: $color-secondary;
  // min-height: 100vh;

  .layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 100vh;
    background-color: $color-secondary;
    // overflow: hidden;  TODO: check if this is needed, maybe it was used to hide the animation overflow

    .layout-content {
      // max-width: 1920px;
      width: 100%;
      // margin-left: auto;
      // margin-right: auto;

      padding-top: 80px;
      padding-bottom: 80px;
      background-color: $color-secondary;
    }

    .layout__item__wrapper {
      display: flex;
      justify-content: center;
      padding: 0 36px;
    }

    .navbar {
      max-width: 1920px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .navbar-container {
        padding-top: 24px;
        padding-bottom: 24px;
        width: 100%;
        background-color: $color-secondary;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          .logo-full {
          }
          .logo-short {
            display: none;
          }

          @media (max-width: 1104px) {
            .logo-full {
              display: none;
            }
            .logo-short {
              display: block;
            }
          }
        }

        .menu-icon {
          display: none;
          @media (max-width: 1104px) {
            display: block;
          }
        }

        .burger {
          position: relative;
          display: block;
          cursor: pointer;
          user-select: none;
          // order: -1;
          z-index: 12;
          width: 1.6rem;
          height: 1.15rem;
          margin-right: 1.25rem;
          border: none;
          outline: none;
          background: none;
          visibility: visible;
          transform: rotate(0deg);
          transition: 0.35s ease;

          @media only screen and (min-width: 1024px) {
            display: none;
            visibility: hidden;
          }

          &-line {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            border: none;
            outline: none;
            opacity: 1;
            border-radius: 1rem;
            transform: rotate(0deg);
            background-color: var(--color-black-300);
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2) {
              top: 0.5rem;
              // width: 70%;
            }
            &:nth-child(3) {
              top: 1rem;
            }
          }

          &.is-active .burger-line {
            &:nth-child(1) {
              top: 0.5rem;
              transform: rotate(135deg);
            }
            &:nth-child(2) {
              opacity: 0;
              visibility: hidden;
            }
            &:nth-child(3) {
              top: 0.5rem;
              transform: rotate(-135deg);
            }
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 60px;

          .language-toggle {
            font-size: 20px;
            font-weight: 400;
            line-height: 27.6px;
            text-decoration: none;
            color: $color-black;
          }

          a {
            font-size: 20px;
            font-weight: 400;
            line-height: 27.6px;
            text-decoration: none;
            color: $color-black;
          }

          button {
            position: relative;

            transition: all 0.3s;

            &:hover {
              box-shadow: 0 0 20px #cde5f0;
              outline-offset: 15px;
              text-shadow: 1px 1px 2px #cde5f0;
            }
          }

          // 1024px at this it should be hidden
          @media (max-width: 1104px) {
            display: none;
          }
        }

        @media (max-width: 576px) {
        }

        @media (max-width: 360px) {
          border-bottom: none;
        }
      }
    }

    .footer {
      background-color: $color-dark-blue;
      .footer-container {
        display: flex;
        row-gap: 34px;
        justify-content: space-between;

        padding-top: 80px;
        padding-bottom: 53px;

        color: $color-white;

        @media (max-width: 768px) {
          padding-top: 40px;
        }

        .left,
        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          row-gap: 90px;
        }

        .logo-glass-3d {
          flex-shrink: 1;
          // margin-bottom: 90px;
          img {
            width: 100%;
            height: auto;
          }
        }

        .info {
          @media (min-width: 768px) {
            min-width: 200px;
          }

          padding-top: 20px;
          .navigation {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            a {
              text-decoration: none;

              color: $color-white;

              font-size: 24px;
              font-weight: 400;
              line-height: 33.12px;
            }

            margin-bottom: 48.8px;
          }
          .social {
            margin-bottom: 47.5px;
            display: flex;
            gap: 15px;
          }
          .email {
            font-size: 20px;
            font-weight: 400;
            line-height: 27.6px;
          }
        }

        .company,
        .rights {
          font-size: 16px;
          font-weight: 400;
          line-height: 22.08px;
          color: $color-white;
        }

        .company {
          .long-text {
          }
          .short-text {
            display: none;
          }

          @media (max-width: 768px) {
            .long-text {
              display: none;
            }
            .short-text {
              display: block;
            }
          }
        }

        .rights {
          margin-left: 70px;
          // max-width: ;

          @media (max-width: 1008px) {
            padding: 11px 0;
          }
          @media (max-width: 768px) {
            margin-left: 0;
            text-align: right;
            padding: 0;
          }
          // @media (max-width: 565px) {
          //   padding: 22px 0;
          //   margin-left: 70px;
          // }
        }

        .links {
          display: flex;
          gap: 24px;
        }
      }
    }
  }
}

.root-modal-content {
  .info {
    margin-top: 27.5px;
    padding: 0 16px;
    .language-toggle {
      opacity: 0.5;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.08px;
      color: $color-white;

      margin-bottom: 14px;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      gap: 4px;

      margin-bottom: 88px;
      a {
        font-size: 32px;
        font-weight: 600;
        line-height: 44.16px;
        text-decoration: none;
        color: white;
      }
    }
    .contact-us-info {
      .subtext {
        opacity: 0.5;

        font-size: 16px;
        font-weight: 400;
        line-height: 22.08px;
        color: $color-white;
      }
      .email {
        padding-bottom: 4px;
        border-bottom: 0.6px solid rgba(243, 251, 255, 0.5);

        margin-bottom: 50px;

        width: fit-content;

        a {
          text-decoration: none;
          font-size: 24px;
          font-weight: 500;
          line-height: 33.12px;
          color: white;
        }
      }
    }

    .social {
      display: flex;
      gap: 15px;
      margin-bottom: 38px;
    }
    .copyright {
      font-size: 12px;
      font-weight: 400;
      line-height: 16.56px;
      color: white;
    }
  }
}
