@font-face {
  font-family: "Articulat";
  src: url("/fonts/Fontspring-DEMO-articulatcf-normal.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Articulat";
  src: url("/fonts/Fontspring-DEMO-articulatcf-medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Articulat";
  src: url("/fonts/Fontspring-DEMO-articulatcf-demibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Articulat";
  src: url("/fonts/Fontspring-DEMO-articulatcf-bold.otf");
  font-weight: 700;
}
