@use "./colors.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: rgba(51, 51, 51, 1);
  font-family: "articulat-cf", sans-serif;
}

.highlighted {
  color: rgba(110, 182, 60, 1);
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: $color-primary;

  /* Create the gradient. */
  background-image: $gradient-color-primary;

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hightlighted-btn {
  height: max-content;

  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 44px 12px 44px !important;
  border-radius: 52px !important;
  background: $gradient-color-primary !important;
  box-shadow: -10px 8px 19.1px 0px #04289f29 !important;

  color: $color-white !important;
  font-size: 36px !important;
  font-weight: 700 !important;
  line-height: 49.68px !important;
  animation: float 5s ease-in-out infinite;
  border: none !important;

  // hover stop animation, but not abrouptly but smoothly

  &:hover {
    animation-play-state: paused;
  }

  @media (max-width: 768px) {
    font-size: 20px !important;
    line-height: 27.6px !important;
    padding: 8px 24px !important;

    svg {
      width: 22px;
      height: 26px;
    }
  }
}

.container-max-width-1920 {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.padding-wrapper {
  padding-left: 144px;
  padding-right: 144px;

  @media (max-width: 1536px) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @media (max-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (max-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
